* {
    margin: 0;
    padding: 0;
    border: #1d2530 1px solid;
}
body{
    max-width: 1200px;
    margin: auto;

    background: #3d516e;
}

header {
    display: flex;
    background: #0D1117;
    min-height: 90vh;
    color: white;
    padding: 20px 40px;
}
.div1Header {
    width: 50%;
    background: #0D1117;
    padding: 10px;
}
.div2Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #0D1117;
    padding: 10px;
    color: #1d2530;
}
header h1 {
    margin-bottom: 20px;
}
.subHeader {
    line-height: 22px;
}
main {
    min-height: 100vh;
    background: #0D1117;
}
.h1TitleProject {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
section {
    min-width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
}
section .cards {
    width: 350px;
    height: 280px;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 8px;
    color: white;
    line-height: 21px;
    background: #161B22;
    text-align: justify;
}
.cards h2 {
    margin-bottom: 30px;
}
footer{
    height: 80px;
    background: #161B22;
    color: white;
}
footer div a {
    color: white;
    text-decoration: none;
}
footer div {
    line-height: 22px;
    padding: 0px 20px;
}
footer div a {
    color: rgb(241, 241, 241);
    text-decoration: none;
}

@media screen and (max-width: 752px) {

    .photoProfile {
        border: #1d2530 1px solid;
        width: 240px;
        height: 240px;
        border-radius: 500px;
        margin-bottom: 20px;
    }

    header {
        display: flex;
        background: #0D1117;
        flex-direction: column;
        align-items: center;
        min-height: 90vh;
        color: white;
        padding: 20px 40px;
    }
    .div1Header {
        text-align: center;
        width: 100%;
    }
    .div2Header {
        display: none;
    }
}

@media screen and (max-width: 410px) {

    .photoProfile {
        border: #252d3a 1px solid;
        width: 240px;
        height: 240px;
        border-radius: 500px;
        margin-bottom: 20px;
    }

    header {
        display: flex;
        background: #0D1117;
        flex-direction: column;
        align-items: center;
        min-height: 90vh;
        color: white;
        padding: 20px 20px;
    }
    .div1Header {
        text-align: left;
        width: 100%;
    }
    .div2Header {
        display: none;
    }
}

